@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background: url('https://wallpaperaccess.com/full/23621.jpg') no-repeat center
    center/cover;
  color: aliceblue;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 10px;
  border: 3px solid #fff;
  padding: 6px;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav a {
  color: inherit;
  margin-right: 10px;
  text-decoration: none;
  font-size: 16px;
  transition: all 300ms ease;
}

header nav a:hover {
  color: #000;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

div h4 {
  font-size: 20px;
  margin-top: 10px;
}
